# 初学者向けPandas100本ノックver1.0.7（全回答&結果表示）
##### Shift + Enter で各セルのコードが実行されます
・print(ans[ 問題番号 ]) で回答コード例を表示  
・Python3エンジニア認定データ分析試験にも沿った問題内容   
・Pandasの各メソッドの説明は以下のサイトが分かりやすいです  
 　[note.nkmk.me](https://note.nkmk.me/pandas/)  
・"Data for Titanic passengers" from [VANDERBILT UNIVERSITY](https://biostat.app.vumc.org/wiki/Main/DataSets)  
  
**本コンテンツ作成時のpandasのバージョンは1.1.0**
  
作成日:2020年9月24日  
最終更新日:2023年1月16日  
再配布・改編不可  
作成者：[kunishou](https://qiita.com/kunishou)

In [1]:
# Shift + Enterで題材データ、回答コードを読み込んで下さい

import pandas as pd
import glob

#題材データをdfに読み込み(タイタニック号の乗客データ、テストの点数データ 等)
def initialize1():
    df = pd.read_csv('../input/titanic3.csv')
    return df

def initialize2():
    df = pd.read_csv('../input/data1.csv')
    return df

df = initialize1()

#回答コードをansリストに格納
path = sorted(glob.glob('../input/a_' + '*.txt'))

ans = []

for _ in range(len(path)):
    with open(path[_], 'r',encoding='utf-8') as f:
        ans.append(f.read())
        
print(ans[0])

[answer0]

このように回答コード例がここに表示されます。
各問題の回答コード例を表示するときはprintの前の
#を消して実行して下さい。

コード例をセル内にコピー&ペーストし
実行すると、正解のデータが表示されます

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [2]:
# 【90】ラベルエンコーディング
# df_copyのsexとembarked列をラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# (df_copyはdfをコピーしたもの)
print(ans[90]) #回答表示
df_copy =df.copy()

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

df_copy['sex'] = le.fit_transform(df_copy['sex']) #エンコーディング
df_copy['embarked'] = le.fit_transform(df_copy['embarked'].astype(str))  #ここ、なぜかstrに変換しないとエラー発生
df_copy.head()

[answer90]

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

df_copy['sex'] = le.fit_transform(df_copy['sex']) #エンコーディング
df_copy['embarked'] = le.fit_transform(df_copy['embarked'].astype(str))  #ここ、なぜかstrに変換しないとエラー発生
df_copy.head()


[Tips]
・機械学習では文字列をそのまま、学習アルゴリズムに
　入力できないため、数値に変換する。LabelEncoder()では
　例えば、以下のように文字列を数値に変換する。

　male → 0
　female → 1

・RandomForestなど決定木での分類問題を
　解く場合には、ラベルエンコーディングする
　ことが多い

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,29.00,0,0,24160,211.3375,B5,2,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",1,0.92,1,2,113781,151.5500,C22 C26,2,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",0,2.00,1,2,113781,151.5500,C22 C26,2,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",1,30.00,1,2,113781,151.5500,C22 C26,2,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",0,25.00,1,2,113781,151.5500,C22 C26,2,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
# 【91】欠損値確認
# df_copyの欠損値を確認
print(ans[91]) #回答表示

df_copy.isnull().sum()

[answer91]

df_copy.isnull().sum()


[Tips]
・isnull().sum()で欠損値数を確認
・欠損値じゃないレコードの数を確認したい場合は、
　notnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        0
boat          823
body         1188
home.dest     564
dtype: int64

In [4]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完
print(ans[92]) #回答表示

df_copy['age'] = df_copy['age'].fillna(df_copy['age'].mean()) #欠損値にageの平均値で補完
df_copy['fare'] = df_copy['fare'].fillna(df_copy['fare'].mean()) #欠損値にfareの平均値で補完
print(df_copy.isnull().sum())

[answer92]

df_copy['age'] = df_copy['age'].fillna(df_copy['age'].mean()) #欠損値にageの平均値で補完
df_copy['fare'] = df_copy['fare'].fillna(df_copy['fare'].mean()) #欠損値にfareの平均値で補完
print(df_copy.isnull().sum())


[Tips]
欠損値の補完にはfillnaを使用
pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin        1014
embarked        0
boat          823
body         1188
home.dest     564
dtype: int64

In [5]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)
print(ans[93]) #回答表示

df_copy = df_copy.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'],axis=1)
df_copy

[answer93]

df_copy = df_copy.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'],axis=1)
df_copy


[Tips]
・行・列の削除をするにはdropを使用
・列を削除する場合は、axis=1を指定
（行を削除する場合は、axis=0）

      pclass  survived  sex        age  sibsp  parch      fare  embarked
0          1         1    0  29.000000      0      0  211.3375         2
1          1         1    1   0.920000      1      2  151.5500         2
2          1         0    0   2.000000      1      2  151.5500         2
3          1         0    1  30.000000      1      2  151.5500         2
4          1         0    0  25.000000      1      2  151.5500         2
...      ...       ...  ...        ...    ...    ...       ...       ...
1304       3         0    0  14.500000      1      0   14.4542         0
1305       3         0    0  29.881138      1      0   14.4542         0
1306       3         0    1  26.500000      0      0    7.2250         0
1307       3         0    1  27.000000      0      0    7.2250         0
1308       3         0    1  29.000000      0      0    7.8750         2

[1309 rows x 8 columns]

In [6]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)
print(ans[94]) #回答表示

features = df_copy[['pclass','age','sex','fare','embarked']].values
target = df_copy['survived'].values

[answer94]

features = df_copy[['pclass','age','sex','fare','embarked']].values
target = df_copy['survived'].values


[Tips]
・pandas.DataFrameやpandas.Seriesをndarray形式(配列)に
　変換するにはvaluesを使用
・機械学習ライブラリのscikit-learnではndarray形式で入力する
　必要があるため、そのような際にDataFrameをndarray形式に変換する

In [7]:
# 【95】学習データとテストデータに分割
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0
print(ans[95]) #回答表示

from sklearn.model_selection import train_test_split

(features , test_X , target , test_y) = train_test_split(features, target , test_size = 0.3 , random_state = 0)

[answer95]

from sklearn.model_selection import train_test_split

(features , test_X , target , test_y) = train_test_split(features, target , test_size = 0.3 , random_state = 0)


[Tips]
・データを学習データ、テストデータに分割する場合は train_test_splitを使用
・test_sizeで分割する割合を指定
・random_stateでシード値を指定することでデータ分割時の乱数を固定
（検証で乱数を固定したい時に使用）

In [8]:
# 【96】学習の実行
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# ※パラメータは次を指定 n_estimators=100 random_state=0
print(ans[96]) #回答表示

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100,random_state=0) # ランダムフォレストのインスタンスを作成

model.fit(features,target) # 学習の実行

[answer96]

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100,random_state=0) # ランダムフォレストのインスタンスを作成

model.fit(features,target) # 学習の実行


[Tips]
・RandomForestClassifierでランダムフォレストを呼び出し
・ハイパーパラメータはn_estimatorsやmax_depthなどがある
・.fit()にて学習を実行
・入力値はndarray形式でないといけない
（そのため、【94】にてndaaray形式に変換を実施）

RandomForestClassifier(random_state=0)

In [9]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測
print(ans[97]) #回答表示

pred = model.predict(test_X)

[answer97]

pred = model.predict(test_X)


[Tips]
.predict()にて予測を実行

In [10]:
# 【98】予測精度の確認
# 予測結果がtest_y(生存有無の答え)とどれぐらい
# 整合していたかを確認(評価指標はaccuracy)
# (from sklearn.metrics import accuracy_scoreをインポート)
print(ans[98]) #回答表示

from sklearn.metrics import accuracy_score

accuracy_score(pred,test_y)

[answer98]

from sklearn.metrics import accuracy_score

accuracy_score(pred,test_y)


[Tips]
・accuracy_score(正解率)にて予測精度を検証
・予測精度の評価指標には様々あるため、タスクに
　合わせて適切な指標を選択

（参考）分類タスクの評価指標
　https://qiita.com/jyori112/items/110596b4f04e4e1a3c9b

0.7888040712468194

In [11]:
# 【99】重要度の確認
# 学習における各列(特徴量)の
# 重要度を表示
print(ans[99]) #回答表示

importance = model.feature_importances_ 

print('Feature Importances:')
for i, feat in enumerate(['pclass','age','sex','fare','embarked']):
    print('\t{0:20s} : {1:>.5f}'.format(feat, importance[i]))

[answer99]

importance = model.feature_importances_

print('Feature Importances:')
for i, feat in enumerate(['pclass','age','sex','fare','embarked']):
    print('\t{0:20s} : {1:>.5f}'.format(feat, importance[i]))


[Tips]
.feature_importances_にてランダムフォレストの
学習における各列(特徴量)の重要度を確認可能
Feature Importances:
	pclass               : 0.08893
	age                  : 0.28727
	sex                  : 0.27940
	fare                 : 0.31417
	embarked             : 0.03023

In [12]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)
print(ans[100]) #回答表示

df_pred = pd.DataFrame(pred)
df_pred.to_csv('../output/submission.csv',header=None)

[answer100]

df_pred = pd.DataFrame(pred)
df_pred.to_csv('../output/submission.csv',header=None)


[Tips]
・to_csvでcsv形式で出力
・行番号、列名を削除して出力したいときは
　index=None,header=Noneをつける

# ノックお疲れ様でした
各セルのoutput表示をすべてクリアにしたい場合は、ツールバーの  
「Kernel」→「Restart & Clear Output」を実行して下さい。