
# 初学者向けPandas100本ノックver1.0.7（全回答&結果表示）
##### Shift + Enter で各セルのコードが実行されます
・print(ans[ 問題番号 ]) で回答コード例を表示  
・Python3エンジニア認定データ分析試験にも沿った問題内容   
・Pandasの各メソッドの説明は以下のサイトが分かりやすいです  
 　[note.nkmk.me](https://note.nkmk.me/pandas/)  
・"Data for Titanic passengers" from [VANDERBILT UNIVERSITY](https://biostat.app.vumc.org/wiki/Main/DataSets)  
  
**本コンテンツ作成時のpandasのバージョンは1.1.0**
  
作成日:2020年9月24日  
最終更新日:2023年1月16日  
再配布・改編不可  
作成者：[kunishou](https://qiita.com/kunishou)

In [1]:
# Shift + Enterで題材データ、回答コードを読み込んで下さい

import pandas as pd
import glob

#題材データをdfに読み込み(タイタニック号の乗客データ)
def initialize1():
    df = pd.read_csv('../input/titanic3.csv')
    return df

df = initialize1()

#回答コードをansリストに格納
path = sorted(glob.glob('../input/a_' + '*.txt'))

ans = []

for _ in range(len(path)):
    with open(path[_], 'r',encoding='utf-8') as f:
        ans.append(f.read())
        
print(ans[0])

[answer0]

このように回答コード例がここに表示されます。
各問題の回答コード例を表示するときはprintの前の
#を消して実行して下さい。

コード例をセル内にコピー&ペーストし
実行すると、正解のデータが表示されます

# Pandas基礎 (1 - 13)

In [2]:
# 【1】
# dfに読み込んだデータの最初の5行を表示

#print(ans[1]) #回答表示
df = initialize1() #初期化

In [3]:
# 【2】
# dfに読み込んだデータの最後の5行を表示

#print(ans[2]) #回答表示
df = initialize1() #初期化

In [4]:
# 【3】
# dfのDataFrameサイズを確認

#print(ans[3]) #回答表示
df = initialize1() #初期化

In [5]:
# 【5】
# dfのfareの列で昇順に並び替えて表示

#print(ans[5]) #回答表示
df = initialize1() #初期化

In [6]:
# 【6】
# df_copyにdfをコピーして、最初の5行を表示

#print(ans[6]) #回答表示
df = initialize1() #初期化

In [7]:
# 【7】
# ① dfの各列のデータ型を確認
# ② dfのcabinの列のデータ型を確認

#print(ans[7]) #回答表示
df = initialize1() #初期化

In [8]:
# 【8】
# ① dfのpclassの列のデータ型をdtypeで確認
# ② 数値型から文字型に変換し、データ型をdtypeで確認

#print(ans[8]) #回答表示
df = initialize1() #初期化

In [9]:
# 【9】
# dfのレコード数(行数)を確認

#print(ans[9]) #回答表示
df = initialize1() #初期化

In [10]:
# 【10】
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認

#print(ans[10]) #回答表示
df = initialize1() #初期化

In [11]:
# 【11】
# dfのsex,cabinの列の要素を確認

#print(ans[11]) #回答表示
df = initialize1() #初期化

In [12]:
# 【12】
# dfの列名一覧をlist形式で表示

#print(ans[12]) #回答表示
df = initialize1() #初期化

In [13]:
# 【13】
# dfのインデックス一覧をndaaray形式で表示

#print(ans[13]) #回答表示
df = initialize1() #初期化#

# データ抽出 (14 - 32)

In [14]:
# 【14】
# dfのnameの列のみ表示

#print(ans[14]) #回答表示
df = initialize1() #初期化

In [15]:
# 【15】
# dfのnameとsexの列のみ表示

#print(ans[15]) #回答表示
df = initialize1() #初期化

In [16]:
# 【16】
# dfのindex(行)の4行目までを表示

#print(ans[16]) #回答表示
df = initialize1() #初期化

In [17]:
# 【17】
# dfのindex(行)の4行目から10行目までを表示

#print(ans[17]) #回答表示
df = initialize1() #初期化

In [18]:
# 【18】
# locを使ってdf全体を表示

#print(ans[18]) #回答表示
df = initialize1() #初期化

In [19]:
# 【19】
# locを使ってdfのfare列をすべて表示

#print(ans[19]) #回答表示
df = initialize1() #初期化

In [20]:
# 【20】
# locを使ってdfのfare列の10のラベルまで表示

#print(ans[20]) #回答表示
df = initialize1() #初期化

In [21]:
# 【21】
# locを使ってdfのnameとticketの列をすべて表示

#print(ans[21]) #回答表示
df = initialize1() #初期化

In [22]:
# 【22】
# locを使ってdfのnameからcabinまでの列をすべて表示

#print(ans[22]) #回答表示
df = initialize1() #初期化

In [23]:
# 【23】
# ilocを使ってdfのage列を5行目まで表示

#print(ans[23]) #回答表示
df = initialize1() #初期化

In [24]:
# 【24】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダに「sample.csv」という名前のcsvファイルとして出力

#print(ans[24]) #回答表示
df = initialize1() #初期化

In [25]:
# 【25】
# dfのage列の値が30以上のデータのみ抽出

#print(ans[25]) #回答表示
df = initialize1() #初期化

In [26]:
# 【26】
# dfのsex列がfemaleのデータのみ抽出

#print(ans[26]) #回答表示
df = initialize1() #初期化

In [27]:
# 【27】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出

#print(ans[27]) #回答表示
df = initialize1() #初期化

In [28]:
# 【28】
# queryを用いてdfのsex列がfemaleでかつageが40以上のデータのみ抽出

#print(ans[28]) #回答表示
df = initialize1() #初期化

In [29]:
# 【29】
# dfのname列に文字列「Mrs」が含まれるデータを表示

#print(ans[29]) #回答表示
df = initialize1() #初期化

In [30]:
# 【30】
# dfの中で文字列型の列のみを表示

#print(ans[30]) #回答表示
df = initialize1() #初期化

In [31]:
# 【31】
# dfの各列の要素数の確認

#print(ans[31]) #回答表示
df = initialize1() #初期化

In [32]:
# 【32】
# dfのembarked列の要素と出現回数の確認

#print(ans[32]) #回答表示
df = initialize1() #初期化

# データ加工 (33 - 58)

In [33]:
# 【33】
# dfのindex名が「3」のage列を
# 30から40に変更し、先頭の5行を表示

#print(ans[33]) #回答表示
df = initialize1() #初期化

In [34]:
# 【34】
# dfのsex列にてmale→0、femlae→1に
# 変更し、先頭の5行を表示

#print(ans[34]) #回答表示
df = initialize1() #初期化

In [35]:
# 【35】
# dfのfare列に100を足して、
# 先頭の5行を表示

#print(ans[35]) #回答表示
df = initialize1() #初期化

In [36]:
# 【36】
# dfのfare列に2を掛けて、
# 先頭の5行を表示

#print(ans[36]) #回答表示
df = initialize1() #初期化

In [37]:
# 【37】
# dfのfare列を小数点以下で丸めて
# 先頭の5行を表示

#print(ans[37]) #回答表示
df = initialize1() #初期化

In [38]:
# 【38】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示

#print(ans[38]) #回答表示
df = initialize1() #初期化

In [39]:
# 【39】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示

#print(ans[39]) #回答表示
df = initialize1() #初期化

In [40]:
# 【40】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示

#print(ans[40]) #回答表示
df = initialize1() #初期化

In [41]:
# 【41】
# dfからbodyの列を削除し、最初の5行を表示

#print(ans[41]) #回答表示
df = initialize1() #初期化

In [42]:
# 【42】
# dfからインデックス名「3」の行を削除し
# 最初の5行を表示

#print(ans[42]) #回答表示
df = initialize1() #初期化

In [43]:
# 【46】
# dfのすべての列の欠損値数を確認
#print(ans[46]) #回答表示
df = initialize1() #初期化

In [44]:
# 【47】
# dfのage列の欠損値に30を代入
# その後、ageの欠損値数を確認

#print(ans[47]) #回答表示
df = initialize1() #初期化

In [45]:
# 【48】
# dfでひとつでも欠損値がある行を削除
# その後、dfの欠損値数を確認

#print(ans[48]) #回答表示
df = initialize1() #初期化

In [46]:
# 【49】
# dfのsurvivedの列をndarray形式(配列)で表示

#print(ans[49]) #回答表示
df = initialize1() #初期化

In [47]:
# 【50】
# dfの行をシャッフルして表示

#print(ans[50]) #回答表示
df = initialize1() #初期化

In [48]:
# 【51】
# dfの行をシャッフルし、インデックスを振り直して表示

#print(ans[51]) #回答表示
df = initialize1() #初期化

In [49]:
# 【53】
# dfのnameの列をすべて大文字に変換し表示

#print(ans[53]) #回答表示
df = initialize1() #初期化

In [50]:
# 【54】
# dfのnameの列をすべて小文字に変換し表示
#print(ans[54]) #回答表示
df = initialize1() #初期化

In [51]:
# 【55】
# dfのsex列に含まれる「female」という単語を「Python」に置換。
#その後、1行目の「female」が「Python」に置き換わったことを確認

#print(ans[55]) #回答表示
df = initialize1() #初期化

In [52]:
# 【56】
# import reをインポート
# dfのname列1行目の「Allen, Miss. Elisabeth Walton」の「Elisabeth」を消去
# dfの一行目を確認

#print(ans[56]) #回答表示
df = initialize1() #初期化

In [53]:
# 【66】
# dfのage列の平均値を確認

#print(ans[66]) #回答表示
df = initialize1() #初期化

In [54]:
# 【67】
# dfのage列の中央値を確認

#print(ans[67]) #回答表示
df = initialize1() #初期化

In [55]:
# 【72】
# dfの基本統計量を確認(describe)

#print(ans[72]) #回答表示
df = initialize1() #初期化

In [56]:
# 【73】
# dfの各列間の(Pearson)相関係数を確認

#print(ans[73]) #回答表示
df = initialize1() #初期化

In [57]:
# 【77】
# dfのfare列の最大値の行名取得
# dfのfare列の最小値の行名取得

#print(ans[77]) #回答表示
df = initialize1() #初期化

In [58]:
# 【78】
# dfのfare列の0、25、50、75、100パーセンタイルを取得

#print(ans[78]) #回答表示
df = initialize1() #初期化

In [59]:
# 【79】
# ①dfのage列の最頻値を取得
# ②value_counts()にてage列の要素数を確認し、①の結果の妥当性を確認

# print(ans[79]) #回答表示
df = initialize1() #初期化

# ラベリング (80 - 81)

In [60]:
# 【80】
#(from sklearn.preprocessing import LabelEncoder)をインポート
# ラベルエンコーダのインスタンスを作成
# dfのsex列をラベルエンコーディング
# dfの先頭5行を表示

#print(ans[80]) #回答表示
df = initialize1() #初期化

In [61]:
# 【81】
# dfのsex列をOne-hotエンコーディング(ダミー変数に)し、
# dfの先頭5行を表示

#print(ans[81]) #回答表示
df = initialize1() #初期化

# Pandasプロット (82 - 89)
Pandasプロットの機能については以下のサイトの説明が分かりやすいです  
[自調自考の旅](https://own-search-and-study.xyz/2016/08/03/pandas%E3%81%AEplot%E3%81%AE%E5%85%A8%E5%BC%95%E6%95%B0%E3%82%92%E4%BD%BF%E3%81%84%E3%81%93%E3%81%AA%E3%81%99/)

In [62]:
# 【82】
# dfのすべての数値列のヒストグラムを表示
#print(ans[82]) #回答表示
df = initialize1() #初期化

In [63]:
# 【83】
# dfのage列をヒストグラムで表示

#print(ans[83]) #回答表示
df = initialize1() #初期化

In [64]:
# 【87】
# %matplotlib inlineを実行
# (from pandas.plotting import scatter_matrixをインポート)
# dfの各列間の散布図を表示

#print(ans[87]) #回答表示
df = initialize1() #初期化

In [65]:
# 【88】
# dfのage列とfare列で散布図を作成
#print(ans[88]) #回答表示
df = initialize1() #初期化

In [66]:
# 【89】
# 【88】で描画したグラフに「age-fare scatter」という
# グラフタイトルをつける
#print(ans[89]) #回答表示
df = initialize1() #初期化

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [67]:
# 【90】ラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# df_copyのsexとembarked列をラベルエンコーディング
# (df_copyはdfをコピーしたもの)

print(ans[90]) #回答表示
df_copy =df.copy()

[answer90]

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

df_copy['sex'] = le.fit_transform(df_copy['sex']) #エンコーディング
df_copy['embarked'] = le.fit_transform(df_copy['embarked'].astype(str))  #ここ、なぜかstrに変換しないとエラー発生
df_copy.head()


[Tips]
・機械学習では文字列をそのまま、学習アルゴリズムに
　入力できないため、数値に変換する。LabelEncoder()では
　例えば、以下のように文字列を数値に変換する。

　male → 0
　female → 1

・RandomForestなど決定木での分類問題を
　解く場合には、ラベルエンコーディングする
　ことが多い

In [68]:
# 【91】欠損値確認
# df_copyの欠損値を確認

#print(ans[91]) #回答表示

In [69]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完

#print(ans[92]) #回答表示

In [70]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)

#print(ans[93]) #回答表示

In [71]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)

#print(ans[94]) #回答表示

In [72]:
# 【95】学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0

#print(ans[95]) #回答表示

In [73]:
# 【96】学習の実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# ※パラメータは次を指定 n_estimators=100 random_state=0

#print(ans[96]) #回答表示

In [74]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測

#print(ans[97]) #回答表示

In [75]:
# 【98】予測精度の確認
# (from sklearn.metrics import accuracy_scoreをインポート)
# 予測結果がtest_y(生存有無の答え)とどれぐらい整合していたかを確認(評価指標はaccuracy)
#print(ans[98]) #回答表示

In [76]:
# 【99】重要度の確認
# 学習における各列(特徴量)の重要度を表示

#print(ans[99]) #回答表示

In [77]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)

#print(ans[100]) #回答表示

# ノックお疲れ様でした
各セルのoutput表示をすべてクリアにしたい場合は、ツールバーの  
「Kernel」→「Restart & Clear Output」を実行して下さい。